
/Generador_Rut/.obsidian
/Generador_Rut/old
/Rut_Chileno/.obsidian
/Rut_Chileno/old
*.txt
/conv_html_md/old
Analisis_header_eml/config.api
*.rar
/.obsidian
*.json
retos_Script_python/script2/usuarios/usuarios.db
retos_Script_python/script2/usos.lock
*.pyc
