/33_sonarscan_demo/sonarscan
33_sonarscan_demo/sonar-cnes-report-5.0.2.jar
33_sonarscan_demo/sonar-project.properties
33_sonarscan_demo/config.ini.demo
33_sonarscan_demo/config.ini
33_sonarscan_demo/_config.ini
/52_File_Scan_Pattern/scripts/__pycache__
/42_Google_api_check/Reporte
/33_sonarscan_demo
65_convert xml to json/demo..txt
/52_File_Scan_Pattern/Scan_Reports/2025-12-29
/033_sonarscan_demo/sonarscan/sonar-scanner-7.3.0.5189-windows-x64
/052_File_Scan_Pattern/scripts/__pycache__
