005_extrae_correo/salida.csv
005_extrae_correo/salida.txt
007_conversor a  md/007_conversor a  md.rar
008_Cabeceras_Seguridad/demo.json
008_Cabeceras_Seguridad/output3.json
008_Cabeceras_Seguridad/output.json
008_Cabeceras_Seguridad/output1.json
008_Cabeceras_Seguridad/output2.json
008_Cabeceras_Seguridad/output4.json
008_Cabeceras_Seguridad/output5.json
008_Cabeceras_Seguridad/output6.json
/37_owasp_vulns/Old
29_certificado_cert/output/dominio.segurosdigital.cl.txt
41_request curl_to_python_request/poc.py
41_request curl_to_python_request/demo_curl.txt
/43_cve_check/cve_data
45_cursoteca resolver/links_udemy_limpios_feed_2025-08-11_09-58-48.txt
45_cursoteca resolver/links_udemy_paginas_1-20_2025-08-18_13-20-33.txt
45_cursoteca resolver/links_udemy_paginas_1-30_2025-08-11_10-03-45.txt
45_cursoteca resolver/old/links_cursos_unicos_2025-08-04_11-08-08.txt
45_cursoteca resolver/old/links_udemy_desde_archivo_2025-08-04_16-24-06.txt
45_cursoteca resolver/old/links_udemy_desde_archivo_2025-08-04_17-15-28.txt
45_cursoteca resolver/old/links_udemy_limpios_2025-08-04_11-14-01.txt
45_cursoteca resolver/old/links_udemy_limpios_2025-08-04_13-35-24.txt
45_cursoteca resolver/old/links_udemy_limpios_2025-08-04_16-34-46.txt
/45_cursoteca resolver/old
2.gitignore
009_Rut_Chileno/rut_pruebas.txt
009_Rut_Chileno/poc.txt
008_Cabeceras_Seguridad/demo2.txt
42_Google_api_check/jsapi_test_sin restricción para uso en otro dominio.rar
42_Google_api_check/jsapi_test_sin restricción para uso en otro dominio.html
44_Linkedin Resolver/demo2.txt
44_Linkedin Resolver/demo2_out.txt
48_test autismo/logs/autism_evaluator_20250917.log
44_Linkedin Resolver/demo4.txt
44_Linkedin Resolver/demo3.txt
44_Linkedin Resolver/demo3_outv2.txt
44_Linkedin Resolver/demo4_v2.txt
44_Linkedin Resolver/demo2_outv2.txt
/41_request curl_to_python_request/old
008_Cabeceras_Seguridad/demo.txt
008_Cabeceras_Seguridad/demo.txt
008_Cabeceras_Seguridad/demo.txt
/006_Móvil/Android/Logcat/Old
/006_Móvil/Android/herramientas
/52_File_Scan_Pattern/old
/52_File_Scan_Pattern/Scan_Reports
/52_File_Scan_Pattern/dev
/52_File_Scan_Pattern/scripts/__pycache__
/53_IBM/resultados_analisis
/53_IBM/Reporte
/53_IBM/Old
/55_Extrae_imagen_desde_base64/Extracted
/40_md_portswigger
/42_Google_api_check/Reporte
/54_Jasper_/POC
52_File_Scan_Pattern/poc.js
52_File_Scan_Pattern/poc.txt
/50_Conversor Burp XML a OpenAPI/output
/57_PDF Info/DEMO
008_Cabeceras_Seguridad/header.json
/008_Cabeceras_Seguridad/POC
009_Rut_Chileno/poc1.txt
009_Rut_Chileno/rut12.txt
